name: build wf
on:
  push:
    branches:
      - origin/main
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: mvn install
  Test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v4
      - run: mvn test
      - run: mvn checkstyle:check